# Importando las librerías.

In [1]:
import findspark
from pyspark import SparkContext, SparkConf, SQLContext
import csv
import geopandas as gpd
from pyspark.sql.functions import substring, expr
import pandas as pd
findspark.init()  # Con este no me tira error de JVM.

# Abriendo los archivos.

In [2]:
# Se setea el Master y se le da nombre a la aplicacion.
conf = SparkConf().setMaster('local').setAppName('Tarea Analisis de BigData')

In [3]:
# Se inicia el cluster Spark.
sc = SparkContext.getOrCreate(conf=conf)

In [4]:
# Se inicia SQLContext desde el cluster de Spark.
sqlContext = SQLContext(sc)

In [5]:
# Carpeta donde estan guardados los archivos
FilePath = '/home/rafa/Dropbox/Linux_MDS/BDAnalytics/sprint1/data'

In [6]:
# Nombres de los archivo.
FileName1 = 'wifi_2017.csv'
FileName2 = 'wifi_2018.csv'
FileName3 = 'wifi_2019.csv'

In [7]:
# Combinando
FullPath1 = FilePath + '/' + FileName1
FullPath2 = FilePath + '/' + FileName2
FullPath3 = FilePath + '/' + FileName3

In [34]:
# Dataframes
df_2017 = sqlContext.read.csv(FullPath1, header=True)
df_2018 = sqlContext.read.csv(FullPath2, header=True)
df_2019 = sqlContext.read.csv(FullPath3, header=True)

Py4JJavaError: An error occurred while calling o98.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 12 in stage 23.0 failed 1 times, most recent failure: Lost task 12.0 in stage 23.0 (TID 47, 172.20.235.148, executor driver): java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Arrays.java:3236)
	at java.io.ByteArrayOutputStream.grow(ByteArrayOutputStream.java:118)
	at java.io.ByteArrayOutputStream.ensureCapacity(ByteArrayOutputStream.java:93)
	at java.io.ByteArrayOutputStream.write(ByteArrayOutputStream.java:153)
	at org.apache.spark.util.ByteBufferOutputStream.write(ByteBufferOutputStream.scala:41)
	at java.io.ObjectOutputStream$BlockDataOutputStream.write(ObjectOutputStream.java:1853)
	at java.io.ObjectOutputStream.write(ObjectOutputStream.java:709)
	at org.apache.spark.util.Utils$.writeByteBuffer(Utils.scala:232)
	at org.apache.spark.scheduler.DirectTaskResult.$anonfun$writeExternal$1(TaskResult.scala:53)
	at org.apache.spark.scheduler.DirectTaskResult$$Lambda$2128/1206044447.apply$mcV$sp(Unknown Source)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.tryOrIOException(Utils.scala:1343)
	at org.apache.spark.scheduler.DirectTaskResult.writeExternal(TaskResult.scala:51)
	at java.io.ObjectOutputStream.writeExternalData(ObjectOutputStream.java:1459)
	at java.io.ObjectOutputStream.writeOrdinaryObject(ObjectOutputStream.java:1430)
	at java.io.ObjectOutputStream.writeObject0(ObjectOutputStream.java:1178)
	at java.io.ObjectOutputStream.writeObject(ObjectOutputStream.java:348)
	at org.apache.spark.serializer.JavaSerializationStream.writeObject(JavaSerializer.scala:44)
	at org.apache.spark.serializer.JavaSerializerInstance.serialize(JavaSerializer.scala:101)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:572)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2008)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2007)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2007)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:973)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2239)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2177)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:775)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2114)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2135)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2154)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2179)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1004)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:388)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1003)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:390)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3450)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3618)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:767)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3616)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3447)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Arrays.java:3236)
	at java.io.ByteArrayOutputStream.grow(ByteArrayOutputStream.java:118)
	at java.io.ByteArrayOutputStream.ensureCapacity(ByteArrayOutputStream.java:93)
	at java.io.ByteArrayOutputStream.write(ByteArrayOutputStream.java:153)
	at org.apache.spark.util.ByteBufferOutputStream.write(ByteBufferOutputStream.scala:41)
	at java.io.ObjectOutputStream$BlockDataOutputStream.write(ObjectOutputStream.java:1853)
	at java.io.ObjectOutputStream.write(ObjectOutputStream.java:709)
	at org.apache.spark.util.Utils$.writeByteBuffer(Utils.scala:232)
	at org.apache.spark.scheduler.DirectTaskResult.$anonfun$writeExternal$1(TaskResult.scala:53)
	at org.apache.spark.scheduler.DirectTaskResult$$Lambda$2128/1206044447.apply$mcV$sp(Unknown Source)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.tryOrIOException(Utils.scala:1343)
	at org.apache.spark.scheduler.DirectTaskResult.writeExternal(TaskResult.scala:51)
	at java.io.ObjectOutputStream.writeExternalData(ObjectOutputStream.java:1459)
	at java.io.ObjectOutputStream.writeOrdinaryObject(ObjectOutputStream.java:1430)
	at java.io.ObjectOutputStream.writeObject0(ObjectOutputStream.java:1178)
	at java.io.ObjectOutputStream.writeObject(ObjectOutputStream.java:348)
	at org.apache.spark.serializer.JavaSerializationStream.writeObject(JavaSerializer.scala:44)
	at org.apache.spark.serializer.JavaSerializerInstance.serialize(JavaSerializer.scala:101)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:572)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

# Mostrando los archivos.

In [9]:
# Mostrando los data frame
df_2017.show()

+---+-----------+------------+-----------+-----------+------+----------+----------+
| id|data_source|       bssid|        lat|        lon| range|   updated|   created|
+---+-----------+------------+-----------+-----------+------+----------+----------+
|  1|          0|0001E3C290F9|45.22128388|16.54838246|139.01|1428513555|1428513555|
|  2|          0|000C421F65E9|45.22027969|16.54707052|140.00|1428513555|1428513555|
|  3|          0|000C422377FC|45.20828617|16.90385474|140.00|1428513555|1428513555|
|  4|          0|000C422377F4|45.20799464|16.90336159|140.00|1428513555|1428513555|
|  5|          0|000C422377C5|45.17570261|16.81720250|140.00|1428513555|1428513555|
|  6|          0|000C42630AED|45.18732229|16.83431923|140.00|1428513555|1428513555|
|  7|          0|000C42630AEC|45.18054666|16.81053529|140.00|1428513555|1428513555|
|  8|          0|0005595C556A|45.18191138|16.80946429|140.00|1428513555|1428513555|
|  9|          0|000C421BB4FE|45.20791481|16.90272641|140.00|1428513555|1428513555|
| 10|          0|000C422CC930|45.19232675|16.84438858|140.00|1428513555|1428513555|
| 11|          0|0005595C7B59|45.18621844|16.83064594|140.00|1428513555|1428513555|
| 12|          0|000C420CCF25|45.17452761|16.81220048|140.00|1428513555|1428513555|
| 13|          0|000559604EC0|45.20764763|16.89996500|140.00|1428513555|1428513555|
| 14|          0|000C42654000|45.17547062|16.81085728|140.00|1428513555|1428513555|
| 15|          0|00040EDA3168|45.19115249|16.84309165|140.00|1428513555|1428513555|
| 16|          0|000559602166|45.17589047|16.81072141|140.00|1428513555|1428513555|
| 17|          0|000FFD1F37D8|45.17461082|16.81284496|140.00|1428513555|1428513555|
| 18|          0|000C4223D3BF|45.17934993|16.82277136|140.00|1428513555|1428513555|
| 19|          0|000C42059D59|45.17618721|16.81837295|140.00|1428513555|1428513555|
| 20|          0|000C420C4B40|45.18137433|16.80990723|140.00|1428513555|1428513555|
+---+-----------+------------+-----------+-----------+------+----------+----------+
only showing top 20 rows

In [10]:
df_2018.show()

+-------+------------+-----------+-----------+----------+----+
|     id|       bssid|        lat|        lon|   updated|data|
+-------+------------+-----------+-----------+----------+----+
|1773306|F83DFFBBBA29|59.31152020|18.07471230|1428513555|   0|
|1773307|0026180A9583|59.29648818|18.06929944|1428513555|   0|
|1773308|00248C3B965B|59.30886047|18.07669099|1428513555|   0|
|1773309|00248CAAF77A|59.29378075|18.05087886|1428513555|   0|
|1773310|4C60DE7CC982|59.31155087|18.07525706|1428513555|   0|
|1773311|00248C93A4FC|59.30421726|18.07856642|1428513555|   0|
|1773312|A021B74D1A61|59.29762960|18.07197083|1428513555|   0|
|1773313|0001387568D4|59.29430646|18.04973913|1428513555|   0|
|1773315|0025BC8DA6FC|59.31209248|18.07632087|1428513555|   0|
|1773317|2837374A8235|59.30896188|18.07752865|1428513555|   0|
|1773318|0016A61817FA|59.29355670|18.05207263|1428513555|   0|
|1773319|00223F9C5739|59.29361025|18.05284041|1428513555|   0|
|1773320|0025BC8DA6FB|59.31190825|18.07605543|1428513555|   0|
|1773321|0CD9969C4410|59.30579556|18.07770220|1428513555|   0|
|1773322|7071BC1B9B9A|59.31009004|18.07956065|1428513555|   0|
|1773323|E0699553C612|59.30898333|18.07772822|1428513555|   0|
|1773325|008EF2A8D092|59.29912092|18.07637351|1428513555|   0|
|1773326|0CD9969C4411|59.30564208|18.07779933|1428513555|   0|
|1773327|00221567A0BA|59.29359843|18.05273745|1428513555|   0|
|1773328|10BF483D8CA7|59.31015794|18.07976227|1428513555|   0|
+-------+------------+-----------+-----------+----------+----+
only showing top 20 rows

In [11]:
df_2019.show()

+---+------------+-----------+-----------+----------+----+
| id|       bssid|        lat|        lon|   updated|data|
+---+------------+-----------+-----------+----------+----+
|  1|0001E3C290F9|45.22128388|16.54838246|1428513555|   0|
|  2|000C421F65E9|45.22027969|16.54707052|1428513555|   0|
|  3|000C422377FC|45.20828617|16.90385474|1428513555|   0|
|  4|000C422377F4|45.20799464|16.90336159|1428513555|   0|
|  5|000C422377C5|45.17570261|16.81720250|1428513555|   0|
|  6|000C42630AED|45.18732229|16.83431923|1428513555|   0|
|  7|000C42630AEC|45.18054666|16.81053529|1428513555|   0|
|  8|0005595C556A|45.18191138|16.80946429|1428513555|   0|
|  9|000C421BB4FE|45.20791481|16.90272641|1428513555|   0|
| 10|000C422CC930|45.19232675|16.84438858|1428513555|   0|
| 11|0005595C7B59|45.18621844|16.83064594|1428513555|   0|
| 12|000C420CCF25|45.17452761|16.81220048|1428513555|   0|
| 13|000559604EC0|45.20764763|16.89996500|1428513555|   0|
| 14|000C42654000|45.17547062|16.81085728|1428513555|   0|
| 15|00040EDA3168|45.19115249|16.84309165|1428513555|   0|
| 16|000559602166|45.17589047|16.81072141|1428513555|   0|
| 17|000FFD1F37D8|45.17461082|16.81284496|1428513555|   0|
| 18|000C4223D3BF|45.17934993|16.82277136|1428513555|   0|
| 19|000C42059D59|45.17618721|16.81837295|1428513555|   0|
| 20|000C420C4B40|45.18137433|16.80990723|1428513555|   0|
+---+------------+-----------+-----------+----------+----+
only showing top 20 rows

In [12]:
# Muestro el esquema de los dataframes.
df_2017.printSchema()

root
 |-- id: string (nullable = true)
 |-- data_source: string (nullable = true)
 |-- bssid: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- range: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- created: string (nullable = true)

In [13]:
df_2018.printSchema()

root
 |-- id: string (nullable = true)
 |-- bssid: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- data: string (nullable = true)

In [14]:
df_2019.printSchema()

root
 |-- id: string (nullable = true)
 |-- bssid: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- data: string (nullable = true)

# Trabajo de orden y unión de datasets

In [15]:
# Cambiando el nombre a la columna data_source por data
df_2017 = df_2017.withColumnRenamed("data_source","data")

df_2017.printSchema()

df_2017.show()

root
 |-- id: string (nullable = true)
 |-- data: string (nullable = true)
 |-- bssid: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- range: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- created: string (nullable = true)

+---+----+------------+-----------+-----------+------+----------+----------+
| id|data|       bssid|        lat|        lon| range|   updated|   created|
+---+----+------------+-----------+-----------+------+----------+----------+
|  1|   0|0001E3C290F9|45.22128388|16.54838246|139.01|1428513555|1428513555|
|  2|   0|000C421F65E9|45.22027969|16.54707052|140.00|1428513555|1428513555|
|  3|   0|000C422377FC|45.20828617|16.90385474|140.00|1428513555|1428513555|
|  4|   0|000C422377F4|45.20799464|16.90336159|140.00|1428513555|1428513555|
|  5|   0|000C422377C5|45.17570261|16.81720250|140.00|1428513555|1428513555|
|  6|   0|000C42630AED|45.18732229|16.83431923|140.00|1428513555|1428513555|
|  7|   0|000C42630AEC|45.18054666|16.81053529|140.00|1428513555|1428513555|
|  8|   0|0005595C556A|45.18191138|16.80946429|140.00|1428513555|1428513555|
|  9|   0|000C421BB4FE|45.20791481|16.90272641|140.00|1428513555|1428513555|
| 10|   0|000C422CC930|45.19232675|16.84438858|140.00|1428513555|1428513555|
| 11|   0|0005595C7B59|45.18621844|16.83064594|140.00|1428513555|1428513555|
| 12|   0|000C420CCF25|45.17452761|16.81220048|140.00|1428513555|1428513555|
| 13|   0|000559604EC0|45.20764763|16.89996500|140.00|1428513555|1428513555|
| 14|   0|000C42654000|45.17547062|16.81085728|140.00|1428513555|1428513555|
| 15|   0|00040EDA3168|45.19115249|16.84309165|140.00|1428513555|1428513555|
| 16|   0|000559602166|45.17589047|16.81072141|140.00|1428513555|1428513555|
| 17|   0|000FFD1F37D8|45.17461082|16.81284496|140.00|1428513555|1428513555|
| 18|   0|000C4223D3BF|45.17934993|16.82277136|140.00|1428513555|1428513555|
| 19|   0|000C42059D59|45.17618721|16.81837295|140.00|1428513555|1428513555|
| 20|   0|000C420C4B40|45.18137433|16.80990723|140.00|1428513555|1428513555|
+---+----+------------+-----------+-----------+------+----------+----------+
only showing top 20 rows

In [16]:
# Noto que hay columnas extras en un dataset, en primera instancia las elimino.
df_2017 = df_2017.drop('range', 'created')

df_2017.printSchema()

df_2017.show()

root
 |-- id: string (nullable = true)
 |-- data: string (nullable = true)
 |-- bssid: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- updated: string (nullable = true)

+---+----+------------+-----------+-----------+----------+
| id|data|       bssid|        lat|        lon|   updated|
+---+----+------------+-----------+-----------+----------+
|  1|   0|0001E3C290F9|45.22128388|16.54838246|1428513555|
|  2|   0|000C421F65E9|45.22027969|16.54707052|1428513555|
|  3|   0|000C422377FC|45.20828617|16.90385474|1428513555|
|  4|   0|000C422377F4|45.20799464|16.90336159|1428513555|
|  5|   0|000C422377C5|45.17570261|16.81720250|1428513555|
|  6|   0|000C42630AED|45.18732229|16.83431923|1428513555|
|  7|   0|000C42630AEC|45.18054666|16.81053529|1428513555|
|  8|   0|0005595C556A|45.18191138|16.80946429|1428513555|
|  9|   0|000C421BB4FE|45.20791481|16.90272641|1428513555|
| 10|   0|000C422CC930|45.19232675|16.84438858|1428513555|
| 11|   0|0005595C7B59|45.18621844|16.83064594|1428513555|
| 12|   0|000C420CCF25|45.17452761|16.81220048|1428513555|
| 13|   0|000559604EC0|45.20764763|16.89996500|1428513555|
| 14|   0|000C42654000|45.17547062|16.81085728|1428513555|
| 15|   0|00040EDA3168|45.19115249|16.84309165|1428513555|
| 16|   0|000559602166|45.17589047|16.81072141|1428513555|
| 17|   0|000FFD1F37D8|45.17461082|16.81284496|1428513555|
| 18|   0|000C4223D3BF|45.17934993|16.82277136|1428513555|
| 19|   0|000C42059D59|45.17618721|16.81837295|1428513555|
| 20|   0|000C420C4B40|45.18137433|16.80990723|1428513555|
+---+----+------------+-----------+-----------+----------+
only showing top 20 rows

In [17]:
# Ahora ordeno las columnas para que todas tengan el mismo orden.
df_2017 = df_2017.select('id','bssid','lat','lon', 'updated', 'data')

df_2017.printSchema()

df_2017.show()

root
 |-- id: string (nullable = true)
 |-- bssid: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- updated: string (nullable = true)
 |-- data: string (nullable = true)

+---+------------+-----------+-----------+----------+----+
| id|       bssid|        lat|        lon|   updated|data|
+---+------------+-----------+-----------+----------+----+
|  1|0001E3C290F9|45.22128388|16.54838246|1428513555|   0|
|  2|000C421F65E9|45.22027969|16.54707052|1428513555|   0|
|  3|000C422377FC|45.20828617|16.90385474|1428513555|   0|
|  4|000C422377F4|45.20799464|16.90336159|1428513555|   0|
|  5|000C422377C5|45.17570261|16.81720250|1428513555|   0|
|  6|000C42630AED|45.18732229|16.83431923|1428513555|   0|
|  7|000C42630AEC|45.18054666|16.81053529|1428513555|   0|
|  8|0005595C556A|45.18191138|16.80946429|1428513555|   0|
|  9|000C421BB4FE|45.20791481|16.90272641|1428513555|   0|
| 10|000C422CC930|45.19232675|16.84438858|1428513555|   0|
| 11|0005595C7B59|45.18621844|16.83064594|1428513555|   0|
| 12|000C420CCF25|45.17452761|16.81220048|1428513555|   0|
| 13|000559604EC0|45.20764763|16.89996500|1428513555|   0|
| 14|000C42654000|45.17547062|16.81085728|1428513555|   0|
| 15|00040EDA3168|45.19115249|16.84309165|1428513555|   0|
| 16|000559602166|45.17589047|16.81072141|1428513555|   0|
| 17|000FFD1F37D8|45.17461082|16.81284496|1428513555|   0|
| 18|000C4223D3BF|45.17934993|16.82277136|1428513555|   0|
| 19|000C42059D59|45.17618721|16.81837295|1428513555|   0|
| 20|000C420C4B40|45.18137433|16.80990723|1428513555|   0|
+---+------------+-----------+-----------+----------+----+
only showing top 20 rows

In [18]:
# Ahora uno los df_2017, df_2018 y df_2019
df_2017_2018_2019 = (df_2017.union(df_2018)).union(df_2019)
df_2017_2018_2019.show(truncate=False)

+---+------------+-----------+-----------+----------+----+
|id |bssid       |lat        |lon        |updated   |data|
+---+------------+-----------+-----------+----------+----+
|1  |0001E3C290F9|45.22128388|16.54838246|1428513555|0   |
|2  |000C421F65E9|45.22027969|16.54707052|1428513555|0   |
|3  |000C422377FC|45.20828617|16.90385474|1428513555|0   |
|4  |000C422377F4|45.20799464|16.90336159|1428513555|0   |
|5  |000C422377C5|45.17570261|16.81720250|1428513555|0   |
|6  |000C42630AED|45.18732229|16.83431923|1428513555|0   |
|7  |000C42630AEC|45.18054666|16.81053529|1428513555|0   |
|8  |0005595C556A|45.18191138|16.80946429|1428513555|0   |
|9  |000C421BB4FE|45.20791481|16.90272641|1428513555|0   |
|10 |000C422CC930|45.19232675|16.84438858|1428513555|0   |
|11 |0005595C7B59|45.18621844|16.83064594|1428513555|0   |
|12 |000C420CCF25|45.17452761|16.81220048|1428513555|0   |
|13 |000559604EC0|45.20764763|16.89996500|1428513555|0   |
|14 |000C42654000|45.17547062|16.81085728|1428513555|0   |
|15 |00040EDA3168|45.19115249|16.84309165|1428513555|0   |
|16 |000559602166|45.17589047|16.81072141|1428513555|0   |
|17 |000FFD1F37D8|45.17461082|16.81284496|1428513555|0   |
|18 |000C4223D3BF|45.17934993|16.82277136|1428513555|0   |
|19 |000C42059D59|45.17618721|16.81837295|1428513555|0   |
|20 |000C420C4B40|45.18137433|16.80990723|1428513555|0   |
+---+------------+-----------+-----------+----------+----+
only showing top 20 rows

In [19]:
# Elimino las columnas innecesarias.
df_2017_2018_2019 = df_2017_2018_2019.drop('updated', 'data')

In [20]:
df_all = df_2017_2018_2019

# Ahora creo el df solo con la RM según coordenadas de google maps.
df_stgo = df_all.filter((df_all.lat >= -33.65) &
                        (df_all.lat <= -33.28) &
                        (df_all.lon >= -70.81) &
                        (df_all.lon <= -70.50))
df_stgo.show(truncate=False)

+-------+------------+------------+------------+
|id     |bssid       |lat         |lon         |
+-------+------------+------------+------------+
|1285341|0014D1C215FC|-33.41427150|-70.58757711|
|1286364|0014D1C2B5CB|-33.39549419|-70.57584321|
|1286365|0014D1C2B5CD|-33.39581286|-70.57651276|
|1289316|FE1EDFFAF7CB|-33.41758751|-70.57447417|
|1384654|5C969D6AB06B|-33.41263839|-70.56671968|
|2328903|021A11FA6F64|-33.41190269|-70.59103650|
|3648783|000C43305078|-33.40335311|-70.57694492|
|4218478|10F96FEB5D31|-33.41766917|-70.57476819|
|6225902|022A6AA0B39B|-33.41709922|-70.59772660|
|8837909|BC9680DE5933|-33.41273061|-70.59400614|
|8849256|586D8F19CB85|-33.39880726|-70.58795291|
|8849258|728B979DD133|-33.39880726|-70.58795291|
|8849264|D830622E7695|-33.40762979|-70.60031867|
|8849268|A45D363BE061|-33.39285484|-70.57425676|
|8849282|F4F1E1D6A1D9|-33.39868293|-70.58754253|
|8849284|90E6BAA1F845|-33.39744255|-70.58129586|
|8849285|FC94E331C7CB|-33.40206855|-70.59419039|
|8849288|8C04FF13B85C|-33.39563392|-70.58049829|
|8849290|7CBFB13D2DA8|-33.40643588|-70.59878569|
|8849291|B0487A977936|-33.40319848|-70.59532792|
+-------+------------+------------+------------+
only showing top 20 rows

In [21]:
# Credo el df final de Stgo.
# Separo la columna bssid en una que contendrá Media_mac y otra que contendrá
# Id_fabricante.
df_stgo = df_stgo.withColumn("Media_mac", expr("substring(bssid,1,length(bssid)-6)")).withColumn(
    "Id_fabricante", expr("substring(bssid,7,length(bssid)-6)")).drop("bssid")
df_stgo.show()

+-------+------------+------------+---------+-------------+
|     id|         lat|         lon|Media_mac|Id_fabricante|
+-------+------------+------------+---------+-------------+
|1285341|-33.41427150|-70.58757711|   0014D1|       C215FC|
|1286364|-33.39549419|-70.57584321|   0014D1|       C2B5CB|
|1286365|-33.39581286|-70.57651276|   0014D1|       C2B5CD|
|1289316|-33.41758751|-70.57447417|   FE1EDF|       FAF7CB|
|1384654|-33.41263839|-70.56671968|   5C969D|       6AB06B|
|2328903|-33.41190269|-70.59103650|   021A11|       FA6F64|
|3648783|-33.40335311|-70.57694492|   000C43|       305078|
|4218478|-33.41766917|-70.57476819|   10F96F|       EB5D31|
|6225902|-33.41709922|-70.59772660|   022A6A|       A0B39B|
|8837909|-33.41273061|-70.59400614|   BC9680|       DE5933|
|8849256|-33.39880726|-70.58795291|   586D8F|       19CB85|
|8849258|-33.39880726|-70.58795291|   728B97|       9DD133|
|8849264|-33.40762979|-70.60031867|   D83062|       2E7695|
|8849268|-33.39285484|-70.57425676|   A45D36|       3BE061|
|8849282|-33.39868293|-70.58754253|   F4F1E1|       D6A1D9|
|8849284|-33.39744255|-70.58129586|   90E6BA|       A1F845|
|8849285|-33.40206855|-70.59419039|   FC94E3|       31C7CB|
|8849288|-33.39563392|-70.58049829|   8C04FF|       13B85C|
|8849290|-33.40643588|-70.59878569|   7CBFB1|       3D2DA8|
|8849291|-33.40319848|-70.59532792|   B0487A|       977936|
+-------+------------+------------+---------+-------------+
only showing top 20 rows

# Archivo de texto

In [22]:
# Ahora trabajo con el archivo de texto creando un diccionario
result = dict()
for lig in open('/home/rafa/Dropbox/Linux_MDS/BDAnalytics/sprint1/data/oui.txt'):
    if 'base 16' in lig:
        num, sep, txt = lig.strip().partition('(base 16)')
        result[num.strip()] = txt.strip()

In [23]:
# Transformo el diccionario en csv para mejor manipulacion
with open('/home/rafa/Dropbox/Linux_MDS/BDAnalytics/sprint1/oui.csv',
          'w') as f:
    w = csv.writer(f)
    w.writerows(result.items())

In [24]:
# Creo el df
df_oui = sqlContext.read.csv('/home/rafa/Dropbox/Linux_MDS/BDAnalytics/'
                             'sprint1/oui.csv',
                             header=False)

In [25]:
# Despliego el dataframe, es importante saber que los ultimos 6 dígitos del
# bssid corresponden al Id indicado como _c0
df_oui.show(truncate=False)

+------+------------------------------------------------------------+
|_c0   |_c1                                                         |
+------+------------------------------------------------------------+
|002272|American Micro-Fuel Device Corp.                            |
|00D0EF|IGT                                                         |
|086195|Rockwell Automation                                         |
|F4BD9E|Cisco Systems, Inc                                          |
|5885E9|Realme Chongqing MobileTelecommunications Corp Ltd          |
|BC2392|BYD Precision Manufacture Company Ltd.                      |
|405582|Nokia                                                       |
|A4E31B|Nokia                                                       |
|D89790|Commonwealth Scientific and Industrial Research Organisation|
|883A30|Aruba, a Hewlett Packard Enterprise Company                 |
|B8A58D|Axe Group Holdings Limited                                  |
|50CEE3|Gigafirm.co.LTD                                             |
|98E743|Dell Inc.                                                   |
|C419D1|Telink Semiconductor (Shanghai) Co., Ltd.                   |
|887E25|Extreme Networks, Inc.                                      |
|086083|zte corporation                                             |
|E01954|zte corporation                                             |
|10327E|Huawei Device Co., Ltd.                                     |
|F8084F|Sagemcom Broadband SAS                                      |
|30FBB8|HUAWEI TECHNOLOGIES CO.,LTD                                 |
+------+------------------------------------------------------------+
only showing top 20 rows

# Shapefile

In [26]:
# Este archivo contiene todo lo solictado, salvo la ciudad.
Manzana_Precensal = gpd.read_file('/home/rafa/Dropbox/Linux_MDS/BDAnalytics/'
                                  'sprint1/data/'
                                  'Manzana_Precensal.shp')

In [27]:
# Elimino columnas innecesarias.
# COD_ZON corresponde a Zona Censal.
# COD_ENT corrresponde a Manzana Censal.
# DES_COMU a la comuna.
Manzana_Precensal = Manzana_Precensal.drop(['DES_REGI', 'MANZENT', 'COMUNA',
                                            'PROVINCIA', 'DES_PROV', 'REGION',
                                            'COD_DIS'],
                                           axis=1)
Manzana_Precensal

,COD_ZON,COD_ENT,DES_COMU,geometry
0,3,1,CERRILLOS,"POLYGON ((-70.72166 -33.47385, -70.72197 -33.4..."
1,3,4,CERRILLOS,"POLYGON ((-70.72136 -33.47420, -70.72160 -33.4..."
2,3,5,CERRILLOS,"POLYGON ((-70.72105 -33.47455, -70.72124 -33.4..."
3,3,8,CERRILLOS,"POLYGON ((-70.72079 -33.47509, -70.72089 -33.4..."
4,3,9,CERRILLOS,"POLYGON ((-70.72052 -33.47563, -70.72052 -33.4..."
...,...,...,...,...
53048,1,504,PEÑAFLOR,"POLYGON ((-70.87621 -33.61954, -70.87751 -33.6..."
53049,1,503,PEÑAFLOR,"POLYGON ((-70.87723 -33.61920, -70.87741 -33.6..."
53050,1,502,PEÑAFLOR,"POLYGON ((-70.87713 -33.61883, -70.87731 -33.6..."
53051,1,505,PEÑAFLOR,"POLYGON ((-70.87556 -33.61840, -70.87561 -33.6..."
53052,1,501,PEÑAFLOR,"POLYGON ((-70.87805 -33.62117, -70.87803 -33.6..."

# Construyendo funciones para los futures

## Fabricante

In [28]:
# Uno los df_stgo y df_oui a traves de un join y además le solicito que lo haga
# en donde Id_fabricante sea idéntico a _c0 del df_oui.
df_stgo = df_stgo.join(df_oui).where(df_stgo["Id_fabricante"] == df_oui["_c0"])
df_stgo.show()

+-------+------------+------------+---------+-------------+------+--------------------+
|     id|         lat|         lon|Media_mac|Id_fabricante|   _c0|                 _c1|
+-------+------------+------------+---------+-------------+------+--------------------+
|8851381|-33.39878098|-70.58056336|   20107A|       8CB7F7|8CB7F7|Shenzhen UniStron...|
|8991760|-33.45070136|-70.75380023|   002722|       F08BFE|F08BFE|      COSTEL.,CO.LTD|
|8992147|-33.41055157|-70.56676255|   0C6803|       E41C4B|E41C4B| V2 TECHNOLOGY, INC.|
|8992171|-33.39820408|-70.56019314|   000BB4|       0007DF|0007DF| Vbrick Systems Inc.|
|8993476|-33.45174934|-70.74853376|   001F35|       00042E|00042E|Netous Technologi...|
|8994001|-33.41576891|-70.56841615|   407009|       D4A425|D4A425|SMAX Technology C...|
|8994952|-33.41655483|-70.57108378|   00259C|       08ACA5|08ACA5|    Benu Video, Inc.|
|8996440|-33.40128826|-70.56009621|   7C0507|       F8BAE6|F8BAE6|               Nokia|
|9035739|-33.41952401|-70.56423840|   FC94E3|       309435|309435|vivo Mobile Commu...|
|9037002|-33.39551161|-70.57774303|   EC9A74|       982D56|982D56|    Resolution Audio|
|9037021|-33.40763210|-70.56780454|   9ED21E|       649A12|649A12|P2 Mobile Technol...|
|9037608|-33.42031703|-70.56434979|   002215|       001BDC|001BDC|    Vencer Co., Ltd.|
|9039603|-33.38217686|-70.53225271|   88DC96|       002668|002668|   Nokia Danmark A/S|
|9055555|-33.41397376|-70.59796982|   001F35|       000E0A|000E0A|SAKUMA DESIGN OFFICE|
|9055993|-33.41787866|-70.60040929|   E8DE27|       5CE2F4|5CE2F4|AcSiP Technology ...|
|9056544|-33.41607581|-70.59368305|   BC671C|       E8DFF2|E8DFF2|       PRF Co., Ltd.|
|9065903|-33.41546626|-70.59515193|   24C9A1|       00B338|00B338|Kontron Asia Paci...|
|9482383|-33.40697000|-70.55810000|   021B77|       00094D|00094D|Braintree Communi...|
|9487820|-33.43999000|-70.65355000|   021B77|       0018DC|0018DC|   Prostar Co., Ltd.|
|9489925|-33.39862000|-70.58804000|   021B77|       001EBC|001EBC|WINTECH AUTOMATIO...|
+-------+------------+------------+---------+-------------+------+--------------------+
only showing top 20 rows

In [29]:
# Elimino la columna _c0
df_stgo = df_stgo.drop('_c0')
df_stgo.show(truncate=False)

+-------+------------+------------+---------+-------------+------------------------------------------------+
|id     |lat         |lon         |Media_mac|Id_fabricante|_c1                                             |
+-------+------------+------------+---------+-------------+------------------------------------------------+
|8851381|-33.39878098|-70.58056336|20107A   |8CB7F7       |Shenzhen UniStrong Science & Technology Co., Ltd|
|8991760|-33.45070136|-70.75380023|002722   |F08BFE       |COSTEL.,CO.LTD                                  |
|8992147|-33.41055157|-70.56676255|0C6803   |E41C4B       |V2 TECHNOLOGY, INC.                             |
|8992171|-33.39820408|-70.56019314|000BB4   |0007DF       |Vbrick Systems Inc.                             |
|8993476|-33.45174934|-70.74853376|001F35   |00042E       |Netous Technologies, Ltd.                       |
|8994001|-33.41576891|-70.56841615|407009   |D4A425       |SMAX Technology Co., Ltd.                       |
|8994952|-33.41655483|-70.57108378|00259C   |08ACA5       |Benu Video, Inc.                                |
|8996440|-33.40128826|-70.56009621|7C0507   |F8BAE6       |Nokia                                           |
|9035739|-33.41952401|-70.56423840|FC94E3   |309435       |vivo Mobile Communication Co., Ltd.             |
|9037002|-33.39551161|-70.57774303|EC9A74   |982D56       |Resolution Audio                                |
|9037021|-33.40763210|-70.56780454|9ED21E   |649A12       |P2 Mobile Technologies Limited                  |
|9037608|-33.42031703|-70.56434979|002215   |001BDC       |Vencer Co., Ltd.                                |
|9039603|-33.38217686|-70.53225271|88DC96   |002668       |Nokia Danmark A/S                               |
|9055555|-33.41397376|-70.59796982|001F35   |000E0A       |SAKUMA DESIGN OFFICE                            |
|9055993|-33.41787866|-70.60040929|E8DE27   |5CE2F4       |AcSiP Technology Corp.                          |
|9056544|-33.41607581|-70.59368305|BC671C   |E8DFF2       |PRF Co., Ltd.                                   |
|9065903|-33.41546626|-70.59515193|24C9A1   |00B338       |Kontron Asia Pacific Design Sdn. Bhd            |
|9482383|-33.40697000|-70.55810000|021B77   |00094D       |Braintree Communications Pty Ltd                |
|9487820|-33.43999000|-70.65355000|021B77   |0018DC       |Prostar Co., Ltd.                               |
|9489925|-33.39862000|-70.58804000|021B77   |001EBC       |WINTECH AUTOMATION CO.,LTD.                     |
+-------+------------+------------+---------+-------------+------------------------------------------------+
only showing top 20 rows

## Información geográfica (ciudad, comuna, zona censal, manzana)

In [30]:
# Necesito el df en pandas para trabajarlo.
df_manzana = pd.DataFrame(Manzana_Precensal)
df_manzana.head()

,COD_ZON,COD_ENT,DES_COMU,geometry
0,3,1,CERRILLOS,"POLYGON ((-70.72166 -33.47385, -70.72197 -33.4..."
1,3,4,CERRILLOS,"POLYGON ((-70.72136 -33.47420, -70.72160 -33.4..."
2,3,5,CERRILLOS,"POLYGON ((-70.72105 -33.47455, -70.72124 -33.4..."
3,3,8,CERRILLOS,"POLYGON ((-70.72079 -33.47509, -70.72089 -33.4..."
4,3,9,CERRILLOS,"POLYGON ((-70.72052 -33.47563, -70.72052 -33.4..."

In [31]:
from shapely import wkt
df_manzana['str_geom'] = df_manzana.geometry.apply(lambda x: wkt.dumps(x))

In [32]:
# Reviso que efectivamente sea un objeto.
df_manzana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53053 entries, 0 to 53052
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COD_ZON   53053 non-null  int64
 1   COD_ENT   53053 non-null  int64
 2   DES_COMU  53053 non-null  object
 3   geometry  53053 non-null  geometry
 4   str_geom  53053 non-null  object
dtypes: geometry(1), int64(2), object(2)
memory usage: 2.0+ MB

In [33]:
# Le hago drop a la columna geometry.
df_manzana

,COD_ZON,COD_ENT,DES_COMU,geometry,str_geom
0,3,1,CERRILLOS,"POLYGON ((-70.72166 -33.47385, -70.72197 -33.4...",POLYGON ((-70.7216589929999486 -33.47385059999...
1,3,4,CERRILLOS,"POLYGON ((-70.72136 -33.47420, -70.72160 -33.4...",POLYGON ((-70.7213607679999541 -33.47419786999...
2,3,5,CERRILLOS,"POLYGON ((-70.72105 -33.47455, -70.72124 -33.4...",POLYGON ((-70.7210515589999886 -33.47455265899...
3,3,8,CERRILLOS,"POLYGON ((-70.72079 -33.47509, -70.72089 -33.4...",POLYGON ((-70.7207861479999451 -33.47508839599...
4,3,9,CERRILLOS,"POLYGON ((-70.72052 -33.47563, -70.72052 -33.4...",POLYGON ((-70.7205163859999857 -33.47562619999...
...,...,...,...,...,...
53048,1,504,PEÑAFLOR,"POLYGON ((-70.87621 -33.61954, -70.87751 -33.6...",POLYGON ((-70.8762076249999495 -33.61954234899...
53049,1,503,PEÑAFLOR,"POLYGON ((-70.87723 -33.61920, -70.87741 -33.6...",POLYGON ((-70.8772271449999494 -33.61920011299...
53050,1,502,PEÑAFLOR,"POLYGON ((-70.87713 -33.61883, -70.87731 -33.6...",POLYGON ((-70.8771337579999567 -33.61882508299...
53051,1,505,PEÑAFLOR,"POLYGON ((-70.87556 -33.61840, -70.87561 -33.6...",POLYGON ((-70.8755586659999608 -33.61839518899...
53052,1,501,PEÑAFLOR,"POLYGON ((-70.87805 -33.62117, -70.87803 -33.6...",POLYGON ((-70.8780467179999505 -33.62117069399...